<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <div class="row mt-5">
                <h1>Home Page</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ipsa quasi quidem architecto suscipit
                    provident
                    nam dolorum, veritatis tenetur, numquam molestiae magni enim possimus sunt quae quos blanditiis
                    assumenda?
                    Optio?</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>