<%- include('./partials/header.ejs') %>
    <div class="container mt-5">
        <h1 class="text-white">About Us</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat esse adipisci earum
            reprehenderit quae libero, non impedit ad eveniet? Aperiam eos accusamus vero praesentium debitis! Similique
            corrupti beatae dolorum quasi earum? Expedita tenetur aspernatur asperiores placeat commodi exercitationem
            ad earum culpa assumenda, ratione enim odio pariatur, adipisci veniam incidunt voluptatem? Odio soluta
            cumque doloremque praesentium ipsam! Atque ea, sint voluptate ut nesciunt sunt labore eius veniam ab, quidem
            velit aperiam amet nisi expedita itaque possimus. Iure autem praesentium laboriosam fugit? Sapiente minima
            dolorum ea? Ab ex labore quam nobis pariatur quos minima, numquam odit velit aut tempora. Nulla, cumque
            odio?</p>
        <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum saepe nesciunt dolorum ipsam
            consequatur, totam voluptates debitis modi magnam tempore explicabo hic quam assumenda dolores tenetur
            pariatur ab similique!
        </p>
    </div>
<%- include('./partials/footer.ejs') %>